body {
    /* background-image: url("../images/train.jpg"); */
    /* background-color: #ed87f6; */
    /* background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
}

.card-header {
    color: white;
    background-color: rgb(73, 0, 133);
}

.jumbotron {
    color: white;
    background-color:  rgb(73, 0, 133);
    /* background-image: url("../images/train.jpg");  */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.card {
    margin: 15px 0px 15px 0px;
    border: 1px solid  rgb(73, 0, 133);
}

.btn {
    background-color:  rgb(73, 0, 133);
    border: 1px solid  rgb(73, 0, 133);
    color: white,
}