body {
    /* background-image: url("../images/train-drawing.jpg");  */
    background-color: rgb(112, 112, 112); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
}

.card-header {
    color: white;
    background-color: black;
}

.jumbotron {
    color: white;
    background-color:  black;
    /* background-image: url("../images/cropped-old-train-locomotive-black-heat-transfer-on-a-grey-background.jpg");  */
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: auto;
    /* background-position-y: -300px; */
    overflow: hidden;
    padding: 0px;
    margin-top: 30px;
    border: 4px solid black;

}

#train-left {
    float: left;
    padding: 0px; 
    max-width: 100%;
    height: auto;
}

#title {
    margin-top: 10%;
}

#train-right {
    float: right;
    padding: 0px;
    max-width: 100%;
    height: auto;
    position: relative;
}

.card {
    margin: 15px 0px 15px 0px;
    border: 1px solid  black;
}

.btn {
    background-color:  black;
    border: 1px solid  black;
    color: white,
}