.card-header {
    color: white;
    background-color: rgb(73, 0, 133);
}

.jumbotron {
    color: white;
    background-color:  rgb(73, 0, 133);
}

.card {
    margin: 15px 0px 15px 0px;
    border: 1px solid  rgb(73, 0, 133);
}

.btn {
    background-color:  rgb(73, 0, 133);
    border: 1px solid  rgb(73, 0, 133);
    color: white,
}